

 .imagenCarrito{
 	width: 80px;
 	height: 30px;
 	/*padding: 5px;
 	/*margin-top: 8px;
 	margin-bottom: 7px;*/
 }   
  .botonCarrito{
   /*background: #b497c1;*/	
   display: inline-block;
   float:  right;
   border-radius: 15px;
  }
  