/** {
	padding:0;
	margin:0;
}

body {
	background:#FFFFFA;
}

header {
	width:100%;
}*/

/*header*/ nav {
	width:1050px;
	margin:auto;
	max-width:1050px;
	/*background:#024959;*/
	background: #f19484;
}

.menu_bar {
	display:none;
}

/*header */nav ul {
	list-style:none;
	overflow:hidden;
}

/*header */nav ul li {
	float: left;
}

/*header*/ nav ul li span {
	margin-right:10px;
}

/*header */nav ul li a{
	display:block;
	padding:20px;
	color:black;
	text-decoration:none;
	font-family: "roboto", sansserif;
}

/*header*/ nav ul li a:hover {
	background:#cb9f98;
}

/*section {
	padding:20px;
}*/

@media screen and (max-width:800px) {
	header nav {
		width:80%;
		height:100%;
		margin:0;
		position: fixed;
		left:-100%;
		/*top:0px;*/
		overflow:auto;
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		background:#024959;
		overflow: hidden;
		font-size:25px;
		font-weight:bold;
		color:#fff;
		text-decoration:none;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}

	/*header*/ nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255,.3);
	}
}