.display-2{ 
	color: #7da4bd;
	font-weight: bold;
}
.display-4{
	color: #b497c1;
}
.btn { 
  margin-top: 8px;
  display: block;
  font-weight: 250;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,      box-shadow 0.15s ease-in-out;
  height: auto;
  /*width: 100%*/
}

.btn-violeta {
  color: white;
  background-color: #7d3c98;
  border-color: #7d3c98;
  border-radius: 0.25rem;
}
.btn-violeta2 {
  color: black;
  background-color: #f19484;
  border-color: #f19484;
  border-radius: 0.25rem;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #e8b6ae;
  /*background-clip: padding-box;*/
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1.5px solid #f19484;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  /*white-space: nowrap;*/
  background-color: transparent;
  border: 0;
}

