header{
	background:#0c084c ;
	color:#fff;
}
.main{
	background: #096386;
	color:#fff;
}
.color1{
	background: #00b7a8;
	color:#fff;
}
aside{
	background: #900048;
	color:#fff;

}
footer{
	background: #616f39;
	color:#fff;
}
